.loginCard {
    width: 40%;
    margin: 0 auto;
    padding-top: 3rem;
}

.profilePicture {
    width: 20rem;
    height: 20rem;
    background-color: gray;
    padding: 1rem;
    border-radius: 50%;
    object-fit: cover
}