.center {
    text-align: center;
}

.size {
    width: 700px;
}

.loginCard {
    width: 40%;
    margin: 0 auto;
    padding-top: 3rem;
}

.loginBar {
    text-align: center;
}

.profilePicture {
    width: 30%;
    padding-top: 100%;
    background-color: black;
    padding: 0.000001rem;
    margin-right: 5%;
    margin-left: 3%;
    clip-path: circle();
    object-fit: contain;

}

ul {
    list-style: none;
    padding-left: 0;
}

.professionalCard {

    margin: 5vh;
    font-size: x-large;
    align-items: center;
    vertical-align: middle;

}

.userCard {
    background-color: gray;
}

.marketPlaceImgDiv {
    width: 10%;
}

.marketPlacePics {
    width: 100%;
    padding-top: 100%;
    background-color: black;
    padding: 0.000001rem;
    margin-right: 5%;
    margin-left: 3%;
    clip-path: circle();
    object-fit: contain;
}

.marketPlaceCardInfo {
    width: 70%;
    padding: 1%;
}

.rating {
    height: 80%;
}

.services {
    width: 40%;
}