h1,
h2,
h3,
h4 {
  font-family: "Patrick Hand", cursive;
}

p {
  font-family: "Montserrat", sans-serif !important;
}

.center {
  text-align: center;
}

.size {
  width: 700px;
}

.checked {
  color: orange;
}

/* .loginCard {
  margin: auto;
  padding-top: 3rem;
} */

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on {
  color: #000;
}

.off {
  color: #ccc;
}

.cropped {
  width: 60px;
  height: 60px;
  border: none;
}

.navbarb {
  background-color: #37c68a;
}

.colorblue {
  background-color: #f3d37ab8;
}

.colorred {
  color: #8d0801;
}

.textcolor {
  color: #ff006e;
}

.lightblue {
  background-color: #bde0fe;
}

.double {
  border-style: ridge;
  color: #8d0801;
  width: 100%;
  height: 80vh;
  border-color: #f3d37a;
  overflow: auto;
  box-shadow: 10px 10px 5px #b046c5;
  border-radius: 12px;
}

.margin {
  margin-left: 100px;
}

.onlineColor {
  color: #38b000;
  color: #3b85ff;
}

.paddingUp {
  padding-top: 20px;
}

.button2:hover {
  box-shadow: 0 10px 14px 0 rgb(242, 211, 121),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: rgb(242, 211, 121);
}

.buttonColor {
  background-color: #b046c5;
  color: white;
}

.buttonColor2 {
  background-color: #ffffff;
  color: #b046c5;
  border: 1px solid #b046c5;
}

.buttonColor3 {
  background-color: #73ddb1;
  color: #fff;
  border: 1px solid #b046c5;
}

.buttonColor3Completed {
  background-color: #73ddb1;
  color: #b046c5;
  border: 1px solid #72b99c;
}

.deleteColor {
  background-color: #ffffff;
  color: #eb0f63;
  border: 1px solid #eb0f63;
}

.deleteColorSolid {
  background-color: #b32058bb;
  color: #000;
  border: 1px solid #eb0f63;
}

.padding {
  margin: auto;
  width: 900px;
}

.card,
.goldGlow {
  border: 2px solid #f3d37a;
  box-shadow: 0 10px 14px 0 rgb(242, 211, 121),
    0 17px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttonColor2:hover,
.buttonColor3:hover,
.deleteColor:hover {
  transform: scale(1.1);
}

.flex-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

li:hover {
  box-shadow: 0 10px 14px 0 rgb(242, 211, 121),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: rgb(0, 0, 0, 0.9);
}

.li_glow:hover {
  box-shadow: 0 10px 14px 0 rgb(242, 211, 121),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: rgb(0, 0, 0, 0.9);
}

.deleteColor:hover,
.deleteColorSolid:hover {
  box-shadow: 0 10px 14px 0 #b32058bb, 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: rgb(0, 0, 0, 0.9);
}

.height {
  height: 450px;
}

.height2 {
  height: 520px;
}
.margin {
  margin: 5px;
}
.height3 {
  height: 650px;
}
.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #f8e9be90;
  color: #af46c5;
  border-radius: 4px;
}
::placeholder {
  color: #af46c5;
  opacity: 1; /* Firefox */
}
